/*#glass-theme.css*//*#glass-theme.css*/
/*made with help his Lord by ahmed | made on: 26-jan-2021 */
/*contact ahmed on github: github.com/viaAhmed */
/*contact ahmed on twitter: @viaAhmed_ */
/*inspired from: (https://codepen.io/BastianAndre/pen/bBrKqv) */
/*THIS THEME NEEDS SOME POLISH, PLEASE FEEL FREE TO CONTRIBUTE ON GITHUB*/
/*I tried to work on the apps black borders as in the screenshot, but it is black from the root,
I think so. */

.theme-light {
--background-primary: transparent !important;
--background-primary-alt: rgba(255, 255, 255, 0.225) !important;
--background-secondary: transparent !important;
--background-secondary-alt: transparent !important;
--text-muted: #fafafa;
--text-normal: #fff;
--text-faint: #bfbfbf;
--interactive-accent: #0070bf;
--interactive-accent-hover: #0070A7; 
--scrollbar-thumb-bg: rgba(0, 0, 0, 0.175);
--interactive-normal: rgba(0, 0, 0, 0.175)/*transparent*/;
--interactive-hover: rgba(0, 0, 0, 0.125);
--background-modifier-border: transparent;
    --background-modifier-form-field: transparent;
    --background-modifier-form-field-highlighted: transparent;
    --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
    --background-modifier-form-field:rgba(255, 255, 255, 0.125) !important;;
}
.menu, .suggestion, .prompt {
	
	border: 2px solid rgba(0, 0, 0, 0.15);
	 -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.025);
}
.pointer,
.cursor {
	background: white;
	color: white;
}
.body{
	text-shadow: 1px 1px 1px black;
	font-family: dosis !important;
}
.modal{
	backgorund:rgba(255, 255, 255, 0.225) !important;
	 -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}
.modal, .workspace-leaf-resize-handle {
	box-shadow: 0 0 10px rgb(0 0 0 / 25%), inset 0 0 2px 0px white !important;
    background: rgba(0, 0, 0, 0.0125) !important;

}
.workspace-leaf::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.025);
    z-index: -1;
    }
.workspace-leaf {

	/*color: auto ;
    /*position: relative;*/
    /*box-sizing: border-box;
    padding: 0;
    max-height: 95%;
    max-width: 98%;*/
    width: 100%;
    height: 100%;
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 10px rgb(0 0 0 / 25%), inset 0 0 2px 0px white;
    background: rgba(0, 0, 0, 0.0125) !important;
    /*resize: both;*/
    /*overflow: hidden;*/
   /* transition: all 100ms ease-in-out;*/
    -webkit-animation: resize 1.5s 0.5s;
    animation: resize 1.0s 0.1s;
    margin: auto;	
}
 .workspace-split /*.mod-vertical .mod-root*/ {
  /*display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;*/
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIj4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiIGZpbGw9IiMyNjkiPjwvcmVjdD4KPGcgZmlsbD0iIzY0OTRiNyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMSIgeT0iMjAiPjwvcmVjdD4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxIiB5PSI0MCI+PC9yZWN0Pgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEiIHk9IjYwIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMSIgeT0iODAiPjwvcmVjdD4KPHJlY3Qgd2lkdGg9IjEiIGhlaWdodD0iMTAwIiB4PSIyMCI+PC9yZWN0Pgo8cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSIxMDAiIHg9IjQwIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEwMCIgeD0iNjAiPjwvcmVjdD4KPHJlY3Qgd2lkdGg9IjEiIGhlaWdodD0iMTAwIiB4PSI4MCI+PC9yZWN0Pgo8L2c+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIiBmaWxsPSJub25lIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZT0iI2ZmZiI+PC9yZWN0Pgo8L3N2Zz4=") repeat center fixed;
  background-size: 2em 2em;
  height: 100%;
  width: 100%;
}
.workspace-split::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(255, 255, 255, 0.25);
}